@import 'tailwindcss';
@import 'uniwind';

@utility font-mono-thin {
  font-family: 'NotoSansMono_100Thin';
}

@utility font-mono-extralight {
  font-family: 'NotoSansMono_200ExtraLight';
}

@utility font-mono-light {
  font-family: 'NotoSansMono_300Light';
}

@utility font-mono {
  font-family: 'NotoSansMono_400Regular';
}

@utility font-mono-medium {
  font-family: 'NotoSansMono_500Medium';
}

@utility font-mono-semibold {
  font-family: 'NotoSansMono_600SemiBold';
}

@utility font-mono-bold {
  font-family: 'NotoSansMono_700Bold';
}

@utility font-mono-extrabold {
  font-family: 'NotoSansMono_800ExtraBold';
}