@import 'tailwindcss';
@import 'uniwind';

@utility font-extralight {
  font-family: Manrope_300Light;
  font-weight: 300;
}

@utility font-light {
  font-family: Manrope_300Light;
  font-weight: 300;
}

@utility font-normal {
  font-family: Manrope_400Regular;
  font-weight: 400;
}

@utility font-medium {
  font-family: Manrope_600SemiBold;
  font-weight: 600;
}

@utility font-semibold {
  font-family: Manrope_600SemiBold;
  font-weight: 600;
}

@utility font-bold {
  font-family: Manrope_700Bold;
  font-weight: 700;
}

@utility font-extrabold {
  font-family: Manrope_800ExtraBold;
  font-weight: 800;
}

@utility font-black {
  font-family: Manrope_800ExtraBold;
  font-weight: 800;
}
